{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}
    <h1>Formulaire d'inscription</h1>

    {{ form_start(registrationForm) }}
        <div id="account">
        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.prenom) }}
            {{ form_widget(registrationForm.prenom) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.DateNaissance) }}
            {{ form_widget(registrationForm.DateNaissance) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.NumTel) }}
            {{ form_widget(registrationForm.NumTel) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.adresse) }}
            {{ form_widget(registrationForm.adresse) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.miage) }}
            {{ form_widget(registrationForm.miage) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.region) }}
            {{ form_widget(registrationForm.region) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.etatLogement) }}
            {{ form_widget(registrationForm.etatLogement) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.EtatTransport) }}
            {{ form_widget(registrationForm.EtatTransport) }}
        </div>
        
       <br></br>
        <button type="submit" class="btn" id="button">
            <style>
            </style>
        </button>

    {{ form_end(registrationForm) }}
         

        <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

        #account{
                text-align :left;
                display: grid;
                grid-template-columns: 1fr 1fr ;
                gap: 10px 0em;
                align-self: left;
        }
        
        #account :first-child {
                    align-self: justify;
                }
        
        
        h1{
            text-align:center;
        }
        :root{
        --btn-width: 200px;
        --btn-height: 50px;
        --btn-text-color: #fff;
        --btn-border-radious: 10px;
        --btn-thikness: -10px;
        --btn-font-size: 1em;
        --btn-fourground-color: #CE352E;
        --btn-background-color: #541614;
        --body-background: #455063;
        }

        body{
        background: var(--body-background);
        font-family: 'Rubik Maze', cursive;
        }

        button{
        outline: none;
        border: none;
        }

        *, *::after, *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: inherit;
        }

        .container{
        height: 100vh;
        padding: 10px;
        display: grid;
        place-items: center;
        }

        .btn{
        cursor: pointer;
        width: var(--btn-width);
        height: var(--btn-height);
        display: grid;
        place-items: center;
        font-size: var(--btn-font-size);
        border-radius: var(--btn-border-radious);
        position: relative;
        background: var(--btn-background-color);
        }
        .btn:before{
        position: absolute;
        content: "S'INSCRIRE";
        width: 100%;
        height: 100%;
        background: var(--btn-fourground-color);
        border-radius: var(--btn-border-radious);
        transform: translateY(var(--btn-thikness));
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        font-weight: 50;
        transition: all 0.25s ease;
        color: var(--btn-text-color);
        }

        .btn:hover:before,.btn:focus:before{
        transform: translateY(calc(var(--btn-thikness) + var(--btn-thikness) / 2.5));
        }

        .btn:active:before{
        transform: translateY(calc(var(--btn-thikness) / 10));
        }
        </style>

{% endblock %}


