{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {# {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.DateNaissance) }}
        {{ form_row(registrationForm.NumTel) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.region) }}
        {{ form_row(registrationForm.miage) }} #}
        <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {# {% block form_label %} 
                <label for="registration_form_email" 
                    class="required"    
                    style="font-size: 23px; font-weight: bold; font-family: Helvetica;">
                    Email
                </label>
             {% endblock %} #}
            {{ form_widget(registrationForm.email) }}
        </div>
        {# <div class="form-group">
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </div> #}
        <div class="form-group">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.prenom) }}
            {{ form_widget(registrationForm.prenom) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.DateNaissance) }}
            {{ form_widget(registrationForm.DateNaissance) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.NumTel) }}
            {{ form_widget(registrationForm.NumTel) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.adresse) }}
            {{ form_widget(registrationForm.adresse) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.miage) }}
            {{ form_widget(registrationForm.miage) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.region) }}
            {{ form_widget(registrationForm.region) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.etatLogement) }}
            {{ form_widget(registrationForm.etatLogement) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.EtatTransport) }}
            {{ form_widget(registrationForm.EtatTransport) }}
        </div>

        <button type="submit" class="btn">Register
            <style>
                .btn:
                {
                    align-items:flex-end;
                    justify-content:flex-end;
                }
            </style>
        </button>

    {{ form_end(registrationForm) }}
{% endblock %}
