{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Dashboad {% endblock %}

{% block content %}
    <div class="content">

        <div class="container">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">{{ 'Dashboard'|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ app.user.username }} </li>
            </ol>
            <!-- Icon Cards-->
        </div>

        <div class="container">
            <div class="row">
                <h1> Statistiques général</h1>
            </div>
            <div class="row justify-content-center p-3  mt-1">
                <div class="col-6">
                        <div class="col-10 p-3 alert-success text-center">
                            <span class="display-3"> {{ countAllUser['value'] }} </span> Utilisateurs
                        </div>
                        <div class="col-10 p-3 alert-success text-center">
                            <span class="display-3"> {{ countAllActivite['value'] }} </span> Activités
                        </div>
                        <div class="col-10 p-3 alert-success text-center">
                            <span class="display-3"> {{ countAllVideo['value'] }} </span> Vidéos
                        </div>
                </div>
                <div class="col-6">
                        <div class="col-10 p-3 alert-primary text-center">
                            <span class="display-3"> {{ countAllPartenaire['value'] }} </span> Partenaires
                        </div>
                        
                        <div class="col-10 p-3 alert-primary text-center">
                            <span class="display-3"> {{ countAllLogement['value'] }} </span> Logements
                        </div>
                        <div class="col-10 p-3 alert-primary text-center">
                            <span class="display-3"> {{ countAllTransport['value'] }} </span> Transports
                        </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h2> Statuts des utilisateurs inscrits </h2>

                    <ul class="list-group pt-4">
                        {% for statut in statuts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                <i class="fa fa-map"></i>
                                {{ statut.NomStatut }}
                            </span>
                            {# <span class="badge badge-pill">
                                <img class="img-thumbnail" src="{{ vich_uploader_asset(city, 'imageFile') }}" style="width: 150px;">
                            </span> #}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

            {# countAllUser
            countAllPartenaire
            countAllTransport
            countAllLogement
            countAllActivite
            countAllVideo
            countAllStatut
            countAllOffre
            statut #}