{% extends 'base.html.twig' %}

 {% block body %} 

     <section class="banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Inscription</h1>
                </div>
                <div class="col-md-6">
                
                </div>
            </div>
        </div>
    </section>

<body>

    {{ form_start(monFormulaire) }}
    {{ form_errors(monFormulaire) }}
    {{ form_row(monFormulaire.email) }}
    {{ form_row(monFormulaire.password) }}
    {{ form_end(monFormulaire) }}
</body>
    
{% endblock %} 




    {# {{ monFormulaire_start(monFormulaire) }}
        <div>
            {{ _label(monFormulaire.email) }}
            {{ monFormulaire_widget(monFormulaire.email) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.roles) }}
            {{ monFormulaire_widget(monFormulaire.roles) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.password) }}
            {{ monFormulaire_widget(monFormulaire.password) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.nom) }}
            {{ monFormulaire_widget(monFormulaire.nom) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.prenom) }}
            {{ monFormulaire_widget(monFormulaire.prenom) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.DateNaissance) }}
            {{ monFormulaire_widget(monFormulaire.DateNaissance) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.NumTel) }}
            {{ monFormulaire_widget(monFormulaire.NumTel) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.adresse) }}
            {{ monFormulaire_widget(monFormulaire.adresse) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.miage) }}
            {{ monFormulaire_widget(monFormulaire.miage) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.region) }}
            {{ monFormulaire_widget(monFormulaire.region) }}
        </div>    
    {{ monFormulaire_end(monFormulaire) }} #}
    {# {% if monFormulaire is defined %} #}

{# {% endif %} #}