{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_register.css')}}">{% endblock %}

{% block title %}Register{% endblock %}


{% block body %}

    <section class="banner">
        <div class="row">
            <div class="col">
                <div class = "auth-form-container">
                    <form class ="inscription-form">
                        <h1>Inscription</h1>
                        {{ form_start(registrationForm) }}
                        {{ form_label(registrationForm.email) }}            {{ form_widget(registrationForm.email) }}         <br>
                        {{ form_label(registrationForm.plainPassword) }}    {{ form_widget(registrationForm.plainPassword) }} <br>
                        {{ form_label(registrationForm.nom) }}              {{ form_widget(registrationForm.nom) }}           <br>
                        {{ form_label(registrationForm.prenom) }}           {{ form_widget(registrationForm.prenom) }}        <br>
                        {{ form_label(registrationForm.DateNaissance) }}    {{ form_widget(registrationForm.DateNaissance) }} <br>
                        {{ form_label(registrationForm.NumTel) }}           {{ form_widget(registrationForm.NumTel) }}        <br>
                        {{ form_label(registrationForm.adresse) }}          {{ form_widget(registrationForm.adresse) }}       <br>
                        {{ form_label(registrationForm.miage) }}            {{ form_widget(registrationForm.miage) }}         <br>
                        {{ form_label(registrationForm.region) }}           {{ form_widget(registrationForm.region) }}        <br>
                        {{ form_label(registrationForm.etatLogement) }}     {{ form_widget(registrationForm.etatLogement) }}  <br>
                        {{ form_label(registrationForm.EtatTransport) }}    {{ form_widget(registrationForm.EtatTransport) }} <br>
                        {{ form_end(registrationForm) }}
                        <button class="btn btn-light" type="submit" id="button">S'enregistrer</button>
                    <p>Vous avez déja un compte ? <button class="buttonClass" id="link-btn"> Connectez vous</button>
                    </form>
                 </div>
            </div>
        </div>
    </section>
    

{% endblock %}

{# {{ form_start(registrationForm) }}
<div id="account">
	<div class="form-group">
		{{ form_label(registrationForm.email) }}
		{{ form_widget(registrationForm.email) }}
	</div>
	<div>
		{{ form_label(registrationForm.plainPassword) }}
		{{ form_widget(registrationForm.plainPassword) }}
	</div>
</div>
<div class="form-group">
	{{ form_label(registrationForm.nom) }}
	{{ form_widget(registrationForm.nom) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.prenom) }}
	{{ form_widget(registrationForm.prenom) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.DateNaissance) }}
	{{ form_widget(registrationForm.DateNaissance) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.NumTel) }}
	{{ form_widget(registrationForm.NumTel) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.adresse) }}
	{{ form_widget(registrationForm.adresse) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.miage) }}
	{{ form_widget(registrationForm.miage) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.region) }}
	{{ form_widget(registrationForm.region) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.etatLogement) }}
	{{ form_widget(registrationForm.etatLogement) }}
</div>
<div class="form-group">
	{{ form_label(registrationForm.EtatTransport) }}
	{{ form_widget(registrationForm.EtatTransport) }}
</div>

</div><br></br>


{% endblock %} #}
