{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_new_partenaire.css')}}">{% endblock %}
{% block title %}Gestion Users{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row justify-content-center">
                {% for message in app.flashes('success') %}    
                    <div class="alert alert-success p-4 mt-4">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="col-6">
                    <h1 class="col-12">Mon Profil actuel</h1>
                    <p> <span id="gras">Nom</span>       : {{app.user.nom}}   </p>
                    <p> <span id="gras">Prenom</span>    : {{app.user.prenom}}</p>
                    <p> <span id="gras">Email</span>     : {{app.user.email}}</p>
                    <p> <span id="gras">Region</span>    : {{app.user.region}}</p>
                    {# <p>RefStatut : {{app.user.RefStatut}}</p> #}
                    <p> <span id="gras">MIAGE</span>  :  {{app.user.miage}}</p>
                    <p> <span id="gras">Adresse</span> : {{app.user.adresse}}</p>
                    {# {{ form(userForm)}} #}
                <br>
                <p><a href="\edit_user"><button type="button" class="btn btn-primary"><span id="gras">Modifier mon Profil</span></button></a></p>
                <p><a href="\edit_pass"><button type="button" class="btn btn-primary"><span id="gras">Modifier mon Mot de passe</span></button></a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}