{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_inscription.css')}}">{% endblock %}

 {% block body %} 

<body>
    <h1>
        Bienvenue sur la page d'Inscription
    </h1>
    {# {{ monFormulaire_start(monFormulaire) }}
        <div>
            {{ _label(monFormulaire.email) }}
            {{ monFormulaire_widget(monFormulaire.email) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.roles) }}
            {{ monFormulaire_widget(monFormulaire.roles) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.password) }}
            {{ monFormulaire_widget(monFormulaire.password) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.nom) }}
            {{ monFormulaire_widget(monFormulaire.nom) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.prenom) }}
            {{ monFormulaire_widget(monFormulaire.prenom) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.DateNaissance) }}
            {{ monFormulaire_widget(monFormulaire.DateNaissance) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.NumTel) }}
            {{ monFormulaire_widget(monFormulaire.NumTel) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.adresse) }}
            {{ monFormulaire_widget(monFormulaire.adresse) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.miage) }}
            {{ monFormulaire_widget(monFormulaire.miage) }}
        </div>
        <div>
            {{ monFormulaire_label(monFormulaire.region) }}
            {{ monFormulaire_widget(monFormulaire.region) }}
        </div>    
    {{ monFormulaire_end(monFormulaire) }} #}
    {# {% if monFormulaire is defined %} #}
    {{ form_start(monFormulaire) }}
    {{ form_errors(monFormulaire) }}

    {{ form_row(monFormulaire.email) }}
    {{ form_row(monFormulaire.password) }}
    {{ form_end(monFormulaire) }}
{# {% endif %} #}
</body>
    
{% endblock %} 
