{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Ajout video</h1>
    {{ form_start(videoForm) }}
        <div class="form-group">
            {{ form_label(videoForm.lien) }}
            {{ form_widget(videoForm.lien) }}
        </div>
        {# <div class="form-group">
            {{ form_label(videoForm.nbVotes) }}
            {{ form_widget(videoForm.nbVotes) }}
        </div> #}
        {# <div class="form-group">
            {{ form_label(videoForm.refUtilisateur) }}
            {{ form_widget(videoForm.refUtilisateur) }}
        </div> #}
        <button type="submit" class="btn">Ajouter
            <style>
                .btn:
                {
                    align-items:flex-end;
                    justify-content:flex-end;
                }
            </style>
        </button>

    {{ form_end(videoForm) }}
{% endblock %}
