{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_stats.css')}}">{% endblock %}
{% block title %}Statistiques{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center"> Statistiques générales</h1>
                </div>
                <div class="row justify-content-center p-1  mt-1">
                    <div class="col-6">
                            <div class="col-10 p-3 alert-success text-center">
                                <span id="gras" class="display-3"> {{ countAllUser['value'] }} </span><p>Utilisateurs</p>
                            </div>
                            <div class="col-10 p-3 alert-success text-center">
                                <span id="gras" class="display-3"> {{ countAllActivite['value'] }} </span><p>Activités</p>
                            </div>
                            <div class="col-10 p-3 alert-success text-center">
                                <span id="gras" class="display-3"> {{ countAllVideo['value'] }} </span><p>Vidéos</p>
                            </div>
                    </div>
                    <div class="col-6">
                            <div class="col-10 p-3 alert-primary text-center">
                                <span id="gras" class="display-3"> {{ countAllPartenaire['value'] }} </span><p>Partenaires</p>
                            </div>
                            
                            <div class="col-10 p-3 alert-primary text-center">
                                <span id="gras" class="display-3"> {{ countAllLogement['value'] }} </span><p>Logements</p>
                            </div>
                            <div class="col-10 p-3 alert-primary text-center">
                                <span id="gras" class="display-3"> {{ countAllTransport['value'] }} </span><p>Transports</p>
                            </div>
                    </div>
                </div>
    </section>
    
{% endblock %}